<h1>Listing bookmark_sets</h1>

<table>
  <tr>
    <th>Typ</th>
    <th>Name</th>
    <th>Session</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmark_sets.each do |bookmark_set| %>
  <tr>
    <td><%= bookmark_set.typ %></td>
    <td><%= bookmark_set.name %></td>
    <td><%= bookmark_set.session_id %></td>
    <td><%= link_to 'Show', bookmark_set %></td>
    <td><%= link_to 'Edit', edit_bookmark_set_path(bookmark_set) %></td>
    <td><%= link_to 'Destroy', bookmark_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark set', new_bookmark_set_path %>
