<p id="notice"><%= notice %></p>

<p>
  <b>Typ:</b>
  <%= @bookmark_set.typ %>
</p>

<p>
  <b>Name:</b>
  <%= @bookmark_set.name %>
</p>

<p>
  <b>Session:</b>
  <%= @bookmark_set.session_id %>
</p>


<%= link_to 'Edit', edit_bookmark_set_path(@bookmark_set) %> |
<%= link_to 'Back', bookmark_sets_path %>
