<div class="well well-round">
<%= link_to person_path(person) do %>
	<div class="alert alert-success">
		<small><%= person.party.acronym||"<br/>".html_safe %></small>
	</div>


<div>
  <center>
	  <span>
      <%= image_tag person.photo_medium %>
    </span>
    <h5>
      <%= "#{person.lastname.truncate(13)}" %>
    </h5>
    <div>
      <% n = person.text_bookmarks.select {|tbk|tbk.bookmark && tbk.bookmark.matchtyp == 'manual'}.length %>
      <% if n == 0 %>
        <span class="badge">
          sin discursos
        </span>
      <% else %>
        <span class="badge badge-success">
          <%= n %>
        </span>
      <% end %>
    </div>
  </center>

</div>

<% end %>
</div>


