<% content_for :nav do -%>
  <li class="active">
    <%= link_to "legisladores", people_path %>
  </li>
<% end %>

<h3>Legisladores</h3>
<div class="span3 well">
  <ul class="nav nav-list">  
    <li class="<%= (@chamber.nil? && @province.nil?)? 'active' : ''%>"><a href="#">Todos</a></li>   
    <li class="nav-header">
      Por cámara
      <% Chamber.all.each do |chamber| %>
        <% if @chamber == chamber %>
          <li class="active">
            <%= link_to chamber.name, people_path(:province => @province, :chamber => nil) %>
          </li>
        <% else %>
          <% if chamber.disabled %>
            <li><%= chamber.name %></li>
          <% else %>
            <li>
              <%= link_to chamber.name, people_path(:province => @province, :chamber => chamber) %>
            </li>
          <% end %>
        <% end %>        
      <% end %>
    </li>
    <li class="nav-header">
      Por provincia
    </li>
      <% Province.all.each do |prov| %>
        <% if @province == prov %>
          <li class="active">
            <%= link_to prov.name, people_path(:province => nil, :chamber => @chamber) %>
          </li>
        <% else %>
          <li>
            <%= link_to prov.name, people_path(:province => prov, :chamber => @chamber) %>
          </li>
        <% end %>        
      <% end %>
  </ul>
</div>

<div class="span7 well" style="height: 795px; overflow-y:scroll">
  <ul class="thumbnails">
    <% @people.each do |person| %>
      <li class="span2">
          <%= render 'card', :person => person %>
      </li>
    <% end %>
  </ul>
</div>
