<%= form_for(@session, :class => "form-horizontal") do |f| %>
<fieldset>

  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>

  <div class="field">  
    <%= f.label :chamber_id %><br />
    <%= f.select(:chamber_id, Chamber.all.collect { |ch| [ch.name,ch.id]}) %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :meeting %><br />
    <%= f.text_field :meeting %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>  
  <div class="checkbox">
    <%= f.check_box :disabled %>
    <%= f.label :disabled %><br />
  </div>  

  <div class="field">
    <%= f.label :transcript %><br />
    <%= f.text_area :transcript, :cols => 80, :rows => 80, :style => "width: 800px" %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </div>

  <div class="field">
    <%= f.label :you_tube_video_ids %><br />
    <%= f.text_field :you_tube_video_ids %>
  </div>


  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
