<%= form_for([@bookmark.session,@bookmark]) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matchtyp %><br />
    <%= f.select(:matchtyp, [['',nil],['manual','manual'],['auto','auto']]) %>
  </div>
  <div class="field">
    <%= f.label :pos %><br />
    <%= f.number_field :pos %>
  </div>
  <div class="field">
    <%= f.label :text_bookmark_id %><br />
    <%= f.select(:text_bookmark_id, @bookmark.session.text_bookmarks.all.select {|tbk| !tbk.person.nil?}.collect { |tbk| [tbk.person,tbk.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
