<h1>Parties</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>People</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parties.each do |party| %>
  <tr>
    <td>
        <% if party.photo_medium %>
        <%= image_tag party.photo_medium, :width => 30, :height => 30 %>
        <% else %>
        &nbsp;
        <% end %>
    </td>
    <td><%= party.name %></td>
    <td><%= party.people.length %></td>
    <td><%= party.website %></td>
    <td><%= link_to 'Show', party %></td>
    <td><%= link_to 'Edit', edit_party_path(party) %></td>
    <td><%= link_to 'Destroy', party, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party', new_party_path %>
