<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Session</th>    
    <th>Type</th>
    <th>Pos</th>
    <th>Transcript pos</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.bookmark_set_id %></td>    
    <td><%= bookmark.typ %></td>
    <td><%= "#{bookmark.pos} - #{(bookmark.length)? bookmark.pos+bookmark.length : ''}" %></td>
    <td><%= "#{bookmark.textpos} - #{(bookmark.textlength)? bookmark.textpos+bookmark.textlength : ''}" %></td>    
    <td><%= link_to(bookmark.person,edit_person_path(bookmark.person)) if bookmark.person %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
