
<% content_for :head do -%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
  <style>
    .manual {
      color: green;
      font-weight: bold;
    }
    .pos_selected {
      background-color: pink;
    }
  </style>
<% end %>

<h1>Listing bookmarks</h1>

<div class="row">
<div class="span4" style="height: 480px; overflow-y:scroll">
<table>
  <tr>
    <th>Pos</th>
    <th>Transcript person</th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr id='<%= "bookmark_#{bookmark.id}" %>'>
    <td class='pos'>
      <%= link_to bookmark.pos, "javascript:seek(#{bookmark.id},#{bookmark.pos},'#{(bookmark.text_bookmark)? session_text_bookmark_transcript_path(@session,bookmark.text_bookmark) : nil}')" %>
    </td>    
    <td class='speaker'>
        <%= link_to("javascript:toggle(#{bookmark.id},'#{session_bookmark_toggle_matchtyp_path(bookmark.session,bookmark, :format => :text)}')", :class => [bookmark.matchtyp,'person']) do %>
            <% if bookmark.text_bookmark and bookmark.text_bookmark.person %>
              <%= bookmark.text_bookmark.person %>
            <% else %>
              &nbsp;              
            <% end %>
        <% end %>
        <span class="arrows">        
          <% if bookmark.text_bookmark and bookmark.text_bookmark.person %>
              <%= link_to("javascript:moveSpeaker('#{session_text_bookmark_up_path(bookmark.session,bookmark.text_bookmark, :format => :json)}')") do %>
                <i class="icon-arrow-up"></i>
              <% end %>
              <%= link_to("javascript:moveSpeaker('#{session_text_bookmark_down_path(bookmark.session,bookmark.text_bookmark, :format => :json)}')") do %>
                <i class="icon-arrow-down"></i>
              <% end %>
          <% end %>
        </span>
    </td>
    <td><%= link_to 'Edit', edit_session_bookmark_path(@session,bookmark) %></td>
  </tr>
<% end %>
</table>
</div>

<div class="span4">
  <div id="vid"></div>
  <button class="btn" onclick="manualseek(-10)">&lt;&lt;</button>
  <button class="btn" onclick="manualseek(10)">&gt;&gt;</button>

</div>  

</div>

<div class="row">
  <div class="span6">
    <div id="text"></div>
</div>

<% if @session.video_url and not @session.video_url.empty? %>

  <script src="http://www.hcdn.gov.ar/system/modules/ar.gov.hcdn/resources/jwplayer-premium/jwplayer.js"></script>
  <script> jwplayer.key="f449YUYx6rSnWyS5eFa0f8/2NI60KlVjkkGFjKZ6154="</script>

  <script>

    jwplayer('vid').setup({
        file: '<%= @session.video_url %>',
        width: '600',
        height: '480'
    });


    function moveSpeaker(url) {
      $.getJSON(url, function(resp) {
        var html = $("#bookmark_"+resp.prev_bookmark+" .speaker a").html();
        $("#bookmark_"+resp.prev_bookmark+" .speaker a.person").html("");
        $("#bookmark_"+resp.current_bookmark+" .speaker a.person").html(html);

        var html = $("#bookmark_"+resp.prev_bookmark+" .speaker .arrows").html();
        $("#bookmark_"+resp.prev_bookmark+" .speaker .arrows").html("");
        $("#bookmark_"+resp.current_bookmark+" .speaker .arrows").html(html);      
      });
    }


    var previd = null;
    function seek(id,pos,transcript_url) {
      if(previd != null) {
        $("#bookmark_"+previd+" .pos a").removeClass("pos_selected");
      }
      $("#bookmark_"+id+" .pos a").addClass("pos_selected");
      previd = id;
      jwplayer('vid').seek(pos);
      if(transcript_url != "") {
        $.get(transcript_url, function(resp) {
          $("#text").html(resp);
        });
      }
    }

    function manualseek(ofs) {
      jwplayer('vid').seek(jwplayer('vid').getPosition() + ofs);
    }

  </script>

<% else %>

  <script>
    var vids = [
      <%= @session.you_tube_videos.collect {|video| "'#{video.video_id}'"}.join(',').html_safe %>
    ];

    var lengths = [
      <%= @session.you_tube_videos.collect {|video| video.length}.join(',') %>
    ];

    var params = { allowScriptAccess: "always" };
    var atts = { id: "vid" };
    
    swfobject.embedSWF("http://www.youtube.com/v/" + vids[0] + "?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "vid", "640", "480", "8", null, null, params, atts);

    var ytplayer;
    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("vid");
    }

    var previd = null;
    var prevvid = vids[0];
    var currpos = null;
    function seek(id,pos,transcript_url) {
      currpos = pos;
      for(i=0; i<vids.length; i++) {
        if(pos - lengths[i] < 0) {
          break;
        }
        pos -= lengths[i];
      }
      if(prevvid != vids[i]) {
        ytplayer.loadVideoById(vids[i]);
        prevvid = vids[i];
      }
      ytplayer.seekTo(pos);

      if(previd != null) {
        $("#bookmark_"+previd+" .pos a").removeClass("pos_selected");
      }
      $("#bookmark_"+id+" .pos a").addClass("pos_selected");
      previd = id;
      //jwplayer('vid').seek(pos);
      if(transcript_url != "") {
        $.get(transcript_url, function(resp) {
          $("#text").html(resp);
        });
      }
    }

    function manualseek(ofs) {
      ytplayer.seekTo(currpos+ofs);
      currpos += ofs;
    }

  </script>

<% end %>

<script>
    function toggle(id, url) {
      $.get(url, function(resp) {
        var e = $("#bookmark_"+id+" .speaker a.person");
        e.removeClass("manual");
        e.removeClass("auto");
        e.addClass(resp);
      });
    }

</script>


