<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @bookmark.type %>
</p>

<p>
  <b>Pos:</b>
  <%= @bookmark.pos %>
</p>

<p>
  <b>Session:</b>
  <%= @bookmark.session_id %>
</p>

<p>
  <b>Text Bookmark:</b>
  <%= @bookmark.text_bookmark.person if @bookmark.text_bookmark %>
</p>

<p>
  <b>Person:</b>
  <%= @bookmark.person_id %>
</p>

<p>
  <b>Title:</b>
  <%= @bookmark.title %>
</p>

<%= link_to 'Edit', edit_session_bookmark_path(@bookmark.session,@bookmark) %> |
<%= link_to 'Back', :back %>
