<% content_for :head do -%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
<% end %>

<% content_for :nav do -%>
  <li>
    <%= link_to(@session.chamber.name, @session.chamber) %>
  </li>
  <li>
    <%= link_to("Período #{@session.period}", @session.chamber) %>
  </li>
  <li class="active">
    <%= link_to(@session.name, @session) %>
  </li>
<% end %>

    <div class="row">
      <div class="offset1">
        <h5><%= @session.name %></h5>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <div id="vid">
        </div>
      </div>
      <div class="offset4 span4">
        <ul class="nav" style="height: 480px; overflow-y:scroll">
          <% @session.text_bookmarks.each do |tbk| %>
              <% if tbk.typ == 'section' %>
                <li><span class="label label-important"><%= tbk.text %></span></li>
              <% elsif tbk.person and tbk.bookmark and tbk.bookmark.matchtyp == 'manual' %>
                <li id="<%= tbk.bookmark.pos %>">
                  <a class="thumbnail" style="text-decoration:none" href="javascript:seek(<%= tbk.bookmark.pos %>,'<%= session_text_bookmark_transcript_path(@session.chamber.name,@session.period,@session.meeting,tbk) %>','<%= person_card_path(tbk.person) %>')">
                  <table>
                    <tr>
                      <td rowspan='2'>
                        <img src="<%= tbk.person.photo_small %>" class="img-polaroid"/>
                      </td>
                      <td>
                        <b><%= tbk.person.fullname %></b>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small><%= tbk.person.party.name %></small>      
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>
                        <% if tbk.tags && tbk.tags.include?('interruption') %>
                          <span class="label">interrupción</span>
                        <% end %>                                                
                        <% if tbk.tags && tbk.tags.include?('argument') %>
                          <span class="label">discusión</span>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </a> 
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="info" style="display:none">
      <div class="span2">
        <span id="person_card"></span>
      </div>
      <div class="span8 well">
        <p id="text"></p>
        <button class="btn" disabled>Descargar video</button>
        <button class="btn" disabled>Descargar .doc</button>
        <button class="btn" disabled><%= image_tag "http://www.ecreativeim.com/blog/wp-content/uploads/2011/05/facebook-like-icon.png", :width => 25 %></button>
      </div>
    </div>

<% if @session.video_url and not @session.video_url.empty? %>

  <script src="http://www.hcdn.gov.ar/system/modules/ar.gov.hcdn/resources/jwplayer-premium/jwplayer.js"></script>
  <script> jwplayer.key="f449YUYx6rSnWyS5eFa0f8/2NI60KlVjkkGFjKZ6154="</script>

  <script>
 
    jwplayer('vid').setup({
        playlist: [{file: '<%= @session.video_url %>',duration:100}],
        //file: '<%= @session.video_url %>',
        width: '600',
        height: '480'
    });

    function seek(pos,transcript_url,person_url) {
      jwplayer('vid').seek(pos);
      $("#info").show();
      $.get(transcript_url, function(resp) {
        $("#text").html(resp);
      });
      $.get(person_url, function(resp) {
        $("#person_card").html(resp);
      });
    }
  </script>

<% else %>


  <script>
    var vids = [
      <%= @session.you_tube_videos.collect {|video| "'#{video.video_id}'"}.join(',').html_safe %>
    ];

    var lengths = [
      <%= @session.you_tube_videos.collect {|video| video.length}.join(',') %>
    ];

    var params = { allowScriptAccess: "always" };
    var atts = { id: "vid" };
    
    swfobject.embedSWF("http://www.youtube.com/v/" + vids[0] + "?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "vid", "640", "480", "8", null, null, params, atts);

    var ytplayer;
    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("vid");
    }

    function seek(pos,transcript_url,person_url) {
      for(i=0; i<vids.length; i++) {
        if(pos - lengths[i] > 0) {
          break;
        }
        pos -= lengths[i];
      }
      debugger;
      ytplayer.seekTo(pos);
      $("#info").show();
      $.get(transcript_url, function(resp) {
        $("#text").html(resp);
      });
      $.get(person_url, function(resp) {
        $("#person_card").html(resp);
      });
    }

  </script>

<% end %>  

<script>
  <% if @tbk %>
    seek(<%= @tbk.bookmark.pos %>,'<%= session_text_bookmark_transcript_path(@session,@tbk) %>','<%= person_card_path(@tbk.person) %>');
  <% end %>
</script>
