<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @session.date %>
</p>

<p>
  <b>Chamber:</b>
  <%= @session.chamber %>
</p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Segments:</b>
  <ul>
    <% @session.transcript_segments.each do |segm| %>
      <% if segm[:type] == :section %>
        <li><%= segm[:name] %></li>
      <% elsif segm[:type] == :speech %>
        <li><%= segm[:speaker] %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <b>Video url:</b>
  <%= @session.video_url %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
