<h1>
  People
  <%= link_to "Nuevo",new_admin_person_path, :class => :btn %>
  <%= link_to "Actualizar",update_data_admin_people_path, :class => :btn %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Party</th>
      <th>Province</th>
      <th>#Speeches</th>
      <th></th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.fullname, admin_person_path(person) %></td>
        <td><%= link_to person.party.name, edit_admin_party_path(person.party) %></td>        
        <td><%= link_to person.province.name, edit_admin_province_path(person.province) %></td>        
        <td><%= person.num_speeches %></td>
      </tr>
    <% end %>
  </tbody>
</table>
