<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @vote.person_id %>
</p>

<p>
  <b>Bill:</b>
  <%= @vote.bill_id %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote.vote %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
